

@model IEnumerable<WebDinhDuong.Models.MonAn>
@{ 
                Layout = "~/Views/Shared/_Layout_DetailsFood.cshtml"; 
}

    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html"><img src="~/Assets/DetailsFood/images/logo.png" alt=""> </a>
            </div>
          
            <div class="clear"></div>
        </div>
        <div class="hdr-btm pad-w3l">
            <div class="hdr-btm-bg"></div>
            <div class="hdr-btm-left">
                <div class="search">
                    @using (Html.BeginForm("MonAn", "MonAn", FormMethod.Get))
                    {
                     <form @*action="/MonAn/MonAn*@>
                        @Html.TextBox("Search", "keyword here", new { @type = "text", @name = "Search" })
                        <input type="submit" value="Search"class="pad-w3l-search" />
                    </form>
                    }
                    @*<form action="/MonAn/TimKiem" method="post">
                        <input type="text" value="keyword here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'keyword here';}">
                        <input type="submit" value="Search" class="pad-w3l-search">
                    </form>*@
                </div>
                
                <div class="txt-right">
                    <h3><a href="">Advanced Search</a></h3>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main">
           
            <div class="content">
               
                <div class="cnt-main btm">
                    <div class="section group">
                        @if(Model.Count()>0) 
                        {
                            foreach (var item in Model)
                            {
                        <div class="grid_1_of_3 images_1_of_3">
                            <a href="@Url.Action("Details", "ManageFood", new { id = item.Id })"><img src=@Url.Content(item.HinhAnh) alt="" /></a>
                            <a href="@Url.Action("Details", "ManageFood", new { id = item.Id })"><h3>@item.Name</h3></a>
                            <div class="cart-b">
                                <span class="price left"><sup>@item.Calo kcal</sup><sub></sub></span>
                                <div class="btn top-right right"><a href="@Url.Action("Add", "ThucDon", new { id = item.Id, amount = 1 })">Add to Your menu</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                            }
                        }

                        else
                        {
                                <div>Không tìm thấy kết quả phù hợp</div>
                            }

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

