@model List<WebDinhDuong.Models.ThucDon>

@{
    ViewBag.Title = "ThucDon";
    int stt = 0;
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Checkout :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Assets/ThucDon/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/ThucDon/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/Assets/ThucDon/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->

    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>


</head>

<body>
    <div class="banner">
        <div class="w3l_banner_nav_right">
            <!-- about -->
            <div class="privacy about">
                <h3>Thuc<span>Don</span></h3>

                <div class="checkout-right">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Food</th>
                                <th>Quality</th>
                                <th>Food Name</th>
                                <th>Calo</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    stt += 1;
                                    <tr id="rem-@item.Id">
                                        <td class="invert">@stt</td>
                                        <td class="invert-image"><a href="@Url.Action("MonAn", "Details", new { id = item.Id })"><img src="@Url.Content(item.HinhAnh)" class="img-responsive"></a></td>
                                        <td class="invert">
                                            <div class="quantity">
                                                <div class="quantity-select">
                                                    <div class="entry value-minus" data-id="@item.Id">&nbsp;</div>
                                                    <div class="entry value"><span>@item.SoLuong</span></div>
                                                    <div class="entry value-plus active" data-id="@item.Id">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">@item.Name<a href="@Url.Action("Details", "Products", new { id = item.Id })"></a></td>
                                        <td class="invert" id="ItemTotal">@item.Calo</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close" data-id="@item.Id"><img src="@Url.Content("~/Assets/ThucDon/images/close_1.png")" class="img-responsive" @*class="RemoveLink" data-id="@item.ProductId"*@></div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }

                        <tr>
                            <td colspan=" 4" style=" text-align: right">
                                <h3>Total Calo</h3>
                            </td>
                            <td id="CartTotal">
                                @ViewBag.TotalCalo
                            </td>

                        </tr>

                        </tbody>
                    </table>

                    @if (Model == null)
                    {

                        <span>Bạn chưa món ăn nào vào thực đơn</span>
                        @Html.ActionLink("<< Thêm Món", "MonAn", "MonAn")

                    }
                </div>
            </div>
            <!-- //about -->
        </div>

    </div>
  </body>
</html>



    <script src="~/Assets/ThucDon/js/jquery-1.11.1.min.js"></script>

    <script>
    $('.value-plus').on('click', function () {
        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
        var itemId = $(this).attr("data-id");
     
        $.ajax({
        //async: true,
        type: 'POST',
             // contentType: false,
             // processData: false,
            data: { "id": itemId, "amount":1},
            url: '@Url.Content("AddMenuJson")',
            success: function (data) {
                divUpd.text(newVal);
                $("#CartTotal").text(data.TotalCalo);
            },
            error: function (data) {
                alert("There is some problem");

            }
        });
    });
    </script>

    <script>
    $('.value-minus').on('click', function () {
        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
        var itemId = $(this).attr("data-id");
       
        $.ajax({
        //async: true,
        type: 'POST',
            //  contentType: false,
            //  processData: false,
            data: { "id": itemId},
            url: '@Url.Content("DeleteItemJson")',
            success: function (data) {
                if (newVal >= 1 && data.successful==true) {
                    divUpd.text(newVal);
                    $("#CartTotal").text(data.TotalCalo);                  
                }
            },
            error: function (data) {
                alert("There is some problem");

            }
        });

    });
    </script>

    <script>
        $(document).ready(function (c) {
            $('.close').on('click', function (c) {
            var itemId = $(this).attr("data-id");

                $.ajax({
            //  async: true,
            type: 'POST',
                    //  contentType: false,
                   //  processData: false,
                    data: { "id": itemId },
                    url: '@Url.Content("Delete")',
                    success: function (data) {
                        if (data.successful == true) {
                            $('#rem-' + itemId).fadeOut('quick', function (c) {
                                $('#rem-' + itemId).remove();
                            })                         
                        }
                        $("#CartTotal").text(data.TotalCalo);
                    },
                    error: function (data) {
                    alert("There is some problem");
                }
            });
        });
    });
    </script>



    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>

    <script type="text/javascript" src="~/Assets/ThucDon/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/ThucDon/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/ThucDon/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
